* {
  font-size: 14px;
  font-family: FiraCode;
}

window#waybar {
  background: rgba(0, 0, 0, 0);
  color: #e5dccb; /* Cor principal do texto */
  font-size: 14px;
}

/* #workspaces button.focused { */
/*   color: #84dcd4; /\* Strings *\/ */
/* } */

/* #workspaces button:hover { */
/*   box-shadow: inherit; */
/*   text-shadow: inherit; */
/* } */

/* #workspaces button:hover { */
/*   background: #d19742; /\* Nome de funções *\/ */
/*   border: #d19742; */
/*   padding: 0 3px; */
/* } */



#battery {
  background: #58c5cd; /* Constantes */
  color: #e5dccb; /* Texto principal */
}


#custom-ra-temp,
#custom-la-temp
{
    color: #66a1b8;; /* Texto principal para contraste */
    font-size: 20px;
}
#custom-gpu,
#temperature {
  background: #66a1b8; /* Variáveis - cor compartilhada */
  color: #000000; /* Texto principal para contraste */
}

#custom-ra-net,
#custom-la-net
{
 color: #e35b22; /* Palavras-chave */
    font-size: 20px;
}
#network {
  background: #e35b22; /* Palavras-chave */
  color: #000000; /* Texto principal para contraste */
}

#custom-ra-disk,
#custom-la-disk
{
 color: #84dcd4; /* Palavras-chave */
    font-size: 20px;
}
#disk {
  background: #84dcd4; /* Strings */
  color: #000000; /* Texto principal */
}

#custom-ra-cpu,
#custom-la-cpu
{
    color: #66a1b8; /* Palavras-chave */
    font-size: 20px;
}
#cpu {
  background: #66a1b8; /* Variáveis - cor compartilhada */
  color: #000000; /* Texto principal */
}

#custom-ra-ram,
#custom-la-ram
{
    color: #66a1b8; /* Palavras-chave */
    font-size: 20px;
}
#memory {
  background: #66a1b8; /* Variáveis */
  color: #000000; /* Texto principal para contraste */
}

#custom-ra-pulse,
#custom-la-pulse
{
    color: #cc8f62; /* Palavras-chave */
    font-size: 20px;
}
#pulseaudio {
  background: #cc8f62; /* Comentários */
  color: #000000; /* Texto principal para contraste */
}

#custom-ra-clock1,
#custom-la-clock1
{
    color: #84dcd4; /* Palavras-chave */
    font-size: 20px;
}
#clock.1 {
  background: #84dcd4; /* Strings */
  color: #000000; /* Fundo principal */
}

#custom-ra-clock2,
#custom-la-clock2
{
    color: #66a1b8; /* Palavras-chave */
    font-size: 20px;
}
#clock.2 {
  background: #66a1b8; /* Variáveis */
  color: #000000; /* Texto principal para contraste */
}

#custom-ra-clock3,
#custom-la-clock3
{
    color: #cc8f62; /* Palavras-chave */
    font-size: 20px;
}
#clock.3 {
  background: #cc8f62; /* Comentários */
  color: #000000; /* Texto principal para contraste */
}


#custom-ra-work-tray,
#custom-la-work {
  color: #d19742; /* Nome de funções para contraste */
  font-size: 20px;
}
#tray,
#workspaces {
  background: #d19742; /* Nome de funções */
  color: #000000; /* Texto principal para legibilidade */
}
#workspaces button {
  padding: 0 2px;
  color: #000000; /* Texto principal */
}
/* #tray { */
/*   background: #d19742; /\* Nome de funções *\/ */
/*   color: #000000; /\* Texto principal *\/ */
/* } */
